/* user#index styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ebf0f3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.users-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.users-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style-type: none;
  gap: 20px;
}

.user-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.user-link {
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 40px;
  text-decoration: none;
  color: #000;
}

.user-info-container {
  padding: 0 30px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 0 #888;
}

.user-name {
  width: 40%;
}

.user-post-num {
  width: 60%;
  text-align: right;
}

.user-img {
  width: 9%;
  height: 100px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 0 #888;
}

@media (max-width: 768px) {
  .user-link {
    width: 100%;
  }

  .user-post-num {
    font-size: 10px;
  }

  .user-name {
    font-size: 18px;
  }

  .user-img {
    width: 20%;
    height: 70px;
  }

  .user-info-container {
    padding: 0 10px;
  }

  .users-list {
    padding-left: 0;
  }
}

/* user#show styles */
.specific-user-container {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.user-info-part {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.specific-user-info-container {
  display: flex;
  width: 59%;
  justify-content: center;
  align-items: center;
  padding: 23px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 0 #888;
}

.bio-container {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 10px 40px;
  width: 70%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 0 #888;
}

.specific-user-img {
  width: 8%;
  height: 100px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 0 #888;
}

.specific-user-posts {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.user-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 10px 40px;
  gap: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 0 #888;
}

.user-post-counters {
  display: flex;
  align-self: flex-end;
}

.see-all-btn {
  width: 113px;
  padding: 8px;
  border: none;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 0 #888;
}

.bio-title {
  font-size: 18px;
}

@media (max-width: 768px) {
  .specific-user-img {
    width: 22%;
    border: 1px solid #000;
    height: 83px;
  }

  .specific-user-posts {
    width: 92%;
  }

  .bio-container {
    padding: 10px 15px;
    width: 92%;
  }

  .user-post {
    padding: 10px 15px;
  }
}

/* post#index styles */
.all-posts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 50px 0;
  gap: 20px;
}

.post-comments-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 10px 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 0 #888;
}

.all-comments-link {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  text-decoration: none;
  color: #000;
  gap: 20px;
}

/* post#show */
.specific-post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin: 50px 0;
}

.flash-msg,
.notice {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  color: #2d8d1a;
}

.alert {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  color: #eb0000;
}

.page-title {
  text-align: center;
  font-size: 35px;
}

/* LOG IN PAGE */
.log-in-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 6px;
}

.new_user {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
}

.field {
  width: 60%;
}

.actions {
  width: 60%;
  margin-top: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 6px;
}

input[type="submit"] {
  width: 100%;
  padding: 6px;
  margin-bottom: 6px;
}

/* SIGN UP PAGE */
.sign-up- {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.sign-up-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
